.table-title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 24px;
}

.value{
    padding-right: 0.8rem;
}


.grid-data{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-bottom: none;
    width: 50%;
    margin: auto;
    
   
}

.datas-top{
   width: 100%;
   
}

.data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding: 0.5rem;

}
.data:hover{  
    background-color: #f0f0f0;
     
    }

.num-data{
    
    display: flex;
    text-align: left;
    align-items: start;
    width: 10%;
    padding-right: 5rem;
   
}


.Opportunities{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

.title-opp{
border-bottom: 1px solid ;
width: 100%;
 padding-bottom: 10px;
 font-weight: bold;


}
  .opp-data-details{
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  pre {
    white-space: pre-wrap; /* Preserve formatting */
  }